﻿

input, input[type=text] {
	background: transparent; 
	border: none; 
	border-bottom:1px solid grey; 
	margin: 8px 0;
}

input[type=submit] {
	background-color: #BE1D3C; 
	border: none; 
	color: white; 
	padding: 8px 16px; 
	margin: 4px 2px;
}

#p01 {
  color: red;
}

#des {
	position: relative;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.6);
  	padding-top: 20px;
  	padding-right: 50px;
  	padding-bottom: 50px;
  	padding-left: 50px;
  	margin-top: 20px;
  	margin-bottom: 100px;
  	margin-right: 80px;
  	margin-left: 80px;
}

body {
	text-align: center;
	background-color: lightgrey;
	font-family: verdana;
	background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url("img.jpg");
	background-size: 100% auto;
	background-attachment: fixed;
}

h1 {
	text-align:center;
}

.topnav {
	background-color: #333;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.topnav a.active {
	background-color: #BE1D3C;
	color: white;
}

.topnav-right {
  float: right;
}
